### 임시 API 테스트용 주피터

- run_dev.py를 실행하여 8000포트에 api 서버를 띄운 뒤 아래 코드 실행

In [1]:
import requests
import json
from typing import Optional, Dict, Any
import pandas as pd

In [2]:
def test_search_api(query: str, k: Optional[int] = 3) -> Dict[str, Any]:
    """로컬 FastAPI 서버의 검색 엔드포인트를 테스트함
    
    Args:
        query (str): 검색할 쿼리 텍스트
        k (Optional[int], optional): 반환받을 결과 개수. 기본값은 3
        
    Returns:
        Dict[str, Any]: API 응답 결과
        
    Raises:
        requests.RequestException: API 요청 중 오류가 발생한 경우
    """
    # API 엔드포인트 URL
    url = "http://localhost:8000/v1/search/"
    
    try:
        # GET 요청 보냄
        params = {"query": query, "k": k}
        response = requests.get(url, params=params)
        response.raise_for_status()  # HTTP 오류 체크함
        
        # JSON 응답을 파싱함
        result = response.json()
        
        # # 결과 출력함
        # print(f"\n검색 쿼리: {result['query']}")
        # print(f"검색 결과 수: {result['count']}\n")
        
        # for idx, item in enumerate(result['results'], 1):
        #     print(f"[결과 {idx}]")
        #     print(f"내용: ```\n{item['content']}\n```")
        #     print(f"유사도: {item['similarity']:.4f}\n")
        
        return result
        
    except requests.RequestException as e:
        print(f"API 요청 실패: {str(e)}")
        raise

In [ ]:
test_query = "SQL"
result = test_search_api(test_query, k=5)

In [15]:
df = pd.DataFrame(result['results'])
df

                                             content  similarity
0  모집공고: 개발자, AI/데이터 신입/경력 모집.\n---\n업무: 인공지능 데이터...    1.080878
1  모집공고: 데이터 분석가 인턴\n---\n업무: - KPI 모니터링• 업데이트 콘텐...    1.091207
2  모집공고: Data Analytics Engineer\n---\n업무: • Data...    1.111626
3  모집공고: 헬스케어 인공지능 모델 개발 및 데이터 분석 PM 채용\n---\n업무:...    1.113661
4  모집공고: 현대카드 카드기획팀 데이터 추출 및 분석가 채용 /SQL/\n---\n업...    1.122782